@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  @apply min-h-screen bg-white flex flex-col text-justify;
}

.h1-global {
    @apply text-4xl lg:text-5xl font-semibold text-left text-black mb-6 leading-tight drop-shadow-md;
}

.text-global {
    @apply text-gray-700 text-lg mb-6 text-justify;
}

.ul-global {
    @apply list-disc list-inside text-gray-700 space-y-3 text-base lg:text-lg drop-shadow-sm;
}

.section-1 {
  @apply flex flex-col lg:flex-row w-full min-h-screen border-b border-gray-200 shadow-sm;
}

/* LEFT COLUMN */
.left-col {
  @apply w-full lg:w-1/2 bg-white flex flex-col justify-center items-start p-8 lg:p-16;
}

/* RIGHT COLUMN */
.right-col {
  @apply w-full md:w-1/2 bg-black relative flex justify-center md:items-center p-2 sm:p-4;
}



